{% extends "base.html" %} {% block page_content %}
<!-- отрисовка маршрутов, загруженных из gpx -->
<style>
  .j-leaflet-draw-tooltip {
    visibility: visible;
  }

  .popupCustom {
    background: rgba(0, 0, 0, 0.5);
    background-color: rgba(0, 0, 0, 0.5);
  }

  .leaflet-tooltip.popupCustom::before {
    border-left: 15px solid transparent;
    border-right: 15px solid transparent;
  }

  .leaflet-tooltip-right.myCSSClass::before {
    border-left: 15px solid transparent;
    border-right: 15px solid transparent;
  }

  div.gfg {
    max-height: 10rem;
    overflow: auto;
    text-align: justify;
  }

  div.gfg p {
    margin: 0;
  }
</style>

<div id="content-container" class="container-fluid p-0">
  <script>
    var currentPopup = null;
    var trackName = "";

    function handleFileSelect() {
      if (
        !window.File ||
        !window.FileReader ||
        !window.FileList ||
        !window.Blob
      ) {
        alert("The File APIs are not fully supported in this browser.");
        return;
      }

      var input = document.getElementById("fileinput");
      if (!input) {
        alert("Couldn't find the fileinput element.");
      } else if (!input.files) {
        alert(
          "This browser doesn't seem to support the `files` property of file inputs."
        );
      } else if (!input.files[0]) {
        alert("Please select a file before clicking 'Load'");
      } else {
        var file = input.files[0];
        var fr = new FileReader();
        fr.readAsText(file);
        fr.onload = function (e) {
          var input = fr.result;
          var out = JSON.stringify(
            toGeoJSON["gpx"](
              new DOMParser().parseFromString(input, "text/xml")
            ),
            null,
            4
          );

          out = JSON.parse(out);

          drawnItems.clearLayers();
          markers.clear();
          L.geoJson(out, {
            style: function (feature) {
              return {
                color: "#d12a00",
                weight: 5,
                opacity: 0.6,
              };
            },
            onEachFeature: function (feature, layer) {
              // make separate function for this

              drawnItems.addLayer(layer);
              var name = `<div class="px-1"><p><b>${
                feature.properties.name || ""
              }</b></p></div>`;
              var desc = feature.properties.desc;
              if (desc) {
                desc = `<div class="gfg p-1"><p>${desc}</p></div>`;
              } else {
                desc = "";
              }

              layer.bindPopup(name + desc);

              layer.addEventListener("dblclick", function (e) {
                var popup = layer.getPopup();
                var content = popup._content.split("<p>");

                if (content[2]) {
                  var name = content[1]
                    .replace("<b>", "")
                    .replace("</b>", "")
                    .replace("<br>", "")
                    .replace("</br>", "")
                    .replace(/&/g, "")
                    .replace(/</g, "")
                    .replace(/>/g, "")
                    .replace(/"/g, "")
                    .replace(/'/g, "")
                    .replace("div", "")
                    .replace("/pdiv", "")
                    .replace("/p/div", "")
                    .replace("/p/", "")
                    .replace("class=px-1", "")
                    .replace("class=gfg p-1", "");

                  var desc = content[2]
                    .replace("<b>", "")
                    .replace("</b>", "")
                    .replace("<br>", "")
                    .replace("</br>", "")

                    .replace(/&/g, "")
                    .replace(/</g, "")
                    .replace(/>/g, "")
                    .replace(/"/g, "")
                    .replace(/'/g, "")
                    .replace("/p/", "")
                    .replace("/pdiv", "")
                    .replace("/p/div", "")
                    .replace("div", "")
                    .replace("class=gfg p-1", "");
                } else if (content[1]) {
                  var name = content[1]
                    .replace("<b>", "")
                    .replace("</b>", "")
                    .replace("<br>", "")

                    .replace("</br>", "")
                    .replace(/&/g, "")
                    .replace(/</g, "")
                    .replace(/>/g, "")
                    .replace(/"/g, "")
                    .replace(/'/g, "")
                    .replace("div", "")
                    .replace("/p/", "")
                    .replace("/pdiv", "")
                    .replace(". div", "")
                    .replace("/p/div", "")
                    .replace("class=px-1", "")
                    .replace("class=gfg p-1", "");
                }

                if (!name) name = "";
                if (!desc) desc = "";

                $("#editpopup").modal();
                document.getElementById("edit-popup-modal-input-name").value =
                  name;
                document.getElementById("edit-popup-modal-input-desc").value =
                  desc;
                currentPopup = layer;
              });

              if (layer.feature.geometry.type === "Point") {
                layer.options.autoId = autoRouteIdCounter++;

                markers.set(layer.options.autoId, layer.getLatLng());
                routingControl.setWaypoints([...markers.values()]);
              }

              if (layer.feature.geometry.type === "LineString") {
                let lat = 0;
                let lng = 0;

                trackName = layer.feature.properties.name;

                info.update({
                  // name: trackName || "",
                  length: getDistance(layer),
                });

                let cm = L.circleMarker([0, 0], {
                  color: "#3388ff",
                  fillOpacity: 0,
                  radius: 0,
                });

                let popup = L.tooltip();

                let customOptions = {
                  direction: "right",
                  maxWidth: "400",
                  width: "200",
                  sticky: true,
                  className:
                    "leaflet-draw-tooltip leaflet-draw-tooltip-single j-leaflet-draw-tooltip",
                };
                cm.bindTooltip(popup, customOptions);

                layer.on("mouseover", function (e) {
                  lat = e.latlng.lat;
                  lng = e.latlng.lng;

                  var trackLength = getDistanceToPoint(layer, {
                    lat: lat,
                    lng: lng,
                  });

                  cm.setLatLng([lat, lng]);

                  popup.setContent(
                    `<p>Расстояние от начала маршрута: ${trackLength} км</p>`
                  );
                  popup.setLatLng([lat, lng]);

                  cm.addTo(map);
                  popup.openPopup();
                });
              }
            },
          }).addTo(map);

          // make separate function for this
          // drawnItems.featureGroup[0]
          var len =
            drawnItems.getLayers()[0].feature.geometry.coordinates.length;

          var lat1 =
            drawnItems.getLayers()[0].feature.geometry.coordinates[0][0];
          var lon1 =
            drawnItems.getLayers()[0].feature.geometry.coordinates[0][1];
          var lat2 =
            drawnItems.getLayers()[0].feature.geometry.coordinates[len - 1][0];
          var lon2 =
            drawnItems.getLayers()[0].feature.geometry.coordinates[len - 1][1];
          var zoom = 12;
          var latC = (lat1 + lat2) / 2;
          var lonC = (lon1 + lon2) / 2;
          map.flyTo([lonC, latC], zoom);
        };
      }

      $(document).ready(function () {
        $(".dropdown-menu").mouseleave(function () {
          $(".dropdownHandler").dropdown("toggle");
        });
      });
    }

    function handlePopupInfoEditSave() {
      let newNamw = document.getElementById(
        "edit-popup-modal-input-name"
      ).value;
      info.update({
        ...(name = newName),
      });
    }

    function handlePopupEditsSave() {
      var name = document.getElementById("edit-popup-modal-input-name").value;
      var desc = document.getElementById("edit-popup-modal-input-desc").value;

      currentPopup.feature = currentPopup.feature || { properties: {} };
      currentPopup.feature.properties.name = name;
      currentPopup.feature.properties.desc = desc;

      currentPopup
        .bindPopup(`<p><b>${name}</b></p><div class='gfg'><p>${desc}</p></div>`)
        .openPopup();
    }
  </script>

  {% include 'navbar.html' %}

  <div id="map-container" class="container-fluid h-100 px-0">
    <div class="map" id="map" style="height: 100%"></div>
  </div>

  {% include 'uploadFileModal.html' %} {% include 'editWaypointModal.html' %}

  <!-- Edit Waypoint Modal -->
  <div class="modal fade" tabindex="-1" role="dialog" id="editinfo">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title">Редактировать информацию о маршруте</h5>
          <button
            type="button"
            class="close"
            data-dismiss="modal"
            aria-label="Close"
          >
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <div class="d-flex flex-column">
            <div class="p-2">
              <label>Название</label>
              <input
                class="form-control"
                id="edit-popup-modal-info-input-name"
                type="text"
                value="test"
                style="width: 100%"
              />
            </div>
            <!-- <div class="p-2">
                            <label>Описание</label>
                            <textarea class='form-control' id='edit-popup-modal-info-input-desc' type='text' value="test"
                                style="width: 100%; height: 10rem"></textarea>
                        </div> -->
          </div>
        </div>
        <div class="modal-footer">
          <button
            if="edit-popup-save-btn"
            type="button"
            class="btn btn-primary"
            data-dismiss="modal"
            onclick="handlePopupInfoEditSave()"
          >
            Сохранить изменения
          </button>
          <button type="button" class="btn btn-secondary" data-dismiss="modal">
            Отмена
          </button>
        </div>
      </div>
    </div>
  </div>
</div>

<script type="text/JavaScript">

  // Save created track
  function save() {
      $.ajax ({
          url: url,
          "type": "POST",
          "data" : data,
          "succsess": function () {
              console.log("good")
          },
          "failure": function () {
              console.log("bad")
          }
      });
  }

  // Save created track and upload in to the database
  document.getElementById("save_document").onclick = function () {

      let csrf_token = '{{csrf_token}}';

      $.ajax ({
          headers: { "X-CSRFToken": csrf_token },
          type: "POST",
          contentType: 'application/json; charset=utf-8',
          data: JSON.stringify(data),
          dataType: 'text',
          success: function(result) {
              alert(result.Result);
          }
      });

  };
</script>

{% load static %}
<script
  type="text/JavaScript"
  src="{% static 'gpx_map/js/map.js' %}?version=1"
></script>

{% endblock %}
